
/*
 * Stranka nastaveni
 */

/* Obrazky pro vyber */
.odwpng-setting_images {
    width: 100%;
}
.odwpng-setting_image {
    float: left;
    height: 104px;
    margin-right: 10em;
}
.odwpng-setting_image .odwpng-setting_image--img {
    border: 2px solid #666;
    cursor: pointer;
    height: 100px;
    margin: 0 5px 0 0;
}
.odwpng-setting_image .odwpng-setting_image--img:hover {
    border: 2px solid #333;
}
.odwpng-setting_image .odwpng-setting_image--img_btn {
    cursor: pointer;
    height: 24px;
    position: relative;
    top: -24px;
    width: 24px;
}
.odwpng-setting_image .odwpng-setting_image--img_btn:hover {}
